<form class="{{cssClass}} flexcol" autocomplete="off">
  <h1>
    The future of this Trail of Cthulhu System!
  </h1>
  <p>
    Don't worry, it's good news!
  </p>
  <p>
    Thank you SO MUCH for using my Trail of Cthulhu system. I've had lots of
    feedback, but overwhelmingly the thing I heard was, "this is great, but I
    don't play Trail of Cthulhu, can you support <i>GUMSHOE Whatever</i>?"
  </p>
  <p>
    So this system has levelled up and morphed into a flexible GUMSHOE system, 
    which you can find here:
  </p>
  <p>
    <a href="https://gitlab.com/n3dst4/gumshoe-fvtt">GUMSHOE for FVTT</a>
  </p>
  <p>
    I HIGHLY recommend you install the new system and use it for any new
    Foundry worlds going forwards. It comes with built-in support for Trail of
    Cthulhu and Night's Black Agents at the time of writing, with more on the
    way. I also plan to get it registered with Foundry so it can be installed
    properly without pasting URLs :) If you're feeling brave
    and a bit technical, after you have installed GUMSHOE, you can 
    <a href="https://gitlab.com/n3dst4/gumshoe-fvtt/-/blob/master/UPGRADING.md">
    upgrade this world to the new system.
    </a>
  </p>
  {{#if isGM}}
    <label class="gotcha-box">
      <input type="checkbox" class="gotcha">
      <span>
        Ok, got it, stop telling me every time I log in (find it in System Settings)
      </span>
    </label>
  {{/if}}
  <hr/>
  <button class="close">Close</button>
</form>